winemag-data-150k-v2.csv 파일을 reviews 로 읽는다.

In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('..\data\winemag-data_first150k.csv')
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [3]:
reviews['points'].median()

88.0

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [4]:
reviews['country'].unique() # 결측치 있는거

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [5]:
countries = reviews[reviews['country'].notna()]['country'].unique() # 결측치 제거.
# for i in countries: # 배열로 말고 이쁘게 출력
#     print(i)

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [6]:
reviews.groupby('country')['country'].count().sort_values(ascending=False) # 내림차순. sort_values는 기본값 오름차순

country
US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
Luxembourg                    9
England                       9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
South Korea                   4
Switzerland                   4
Bosnia and Herzegovina        4
Slovakia                      3
Egypt                         3
China                         3
Montenegro                    2
Tunisia                       2
Japan                         2
Albania                       2
US-France                     1
Name: country, dtype: int64

In [7]:
reviews['country'].value_counts() # 이 함수 익숙해지기. 위에랑 같은 함수. 기본이 내림차순

country
US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
South Korea                   4
Bosnia and Herzegovina        4
China                         3
Egypt                         3
Slovakia                      3
Tunisia                       2
Albania                       2
Montenegro                    2
Japan                         2
US-France                     1
Name: count, dtype: int64

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [8]:
centered_price = reviews['points'] - reviews['points'].mean()
centered_price

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In [9]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [10]:
# 가성비 컬림을 만드는 것과 비슷한 작업을 '데이터 가공'이라고 함.
# 콜럼은 많으면 많을수록 좋음. 데이터 분석에 용이함.

In [11]:
reviews[(reviews['points'] / reviews['price']) == (reviews['points'] / reviews['price']).max()]['variety'].values

array(['Merlot', 'Merlot', 'Pinot Grigio', 'Merlot', 'Portuguese Red',
       'Merlot'], dtype=object)

In [37]:
reviews['가성비'] = reviews['points'] / reviews['price']
reviews[reviews['가성비'] == reviews['가성비'].max()]['variety'].values

array(['Merlot', 'Merlot', 'Pinot Grigio', 'Merlot', 'Portuguese Red',
       'Merlot'], dtype=object)

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [13]:
# 문제 설명
"""
리뷰 설명에 tropical이랑 fruity가 들어있는 리뷰를 각각 세기.
"""

'\n리뷰 설명에 tropical이랑 fruity가 들어있는 리뷰를 각각 세기.\n'

In [14]:
# 깃허브의 데이터분석 항목 참고
# 데이터프레임의 apply 함수도 고려

In [15]:
# df[찾을 컬럼].str.contains('찾을 내용')
# str을 안 붙이면 df가 시리즈 타입이라서 contains가 안 됨.
# contains는 내용을 포함하면 트루 없으면 펄스

In [16]:
reviews['description'].isnull().sum() # 결측치 확인

0

In [17]:
reviews[reviews['description'].str.contains('tropical')].size # 틀림

49620

In [18]:
reviews['description'].str.contains('tropical').sum() # 맞음

4135

In [19]:
descriptor_counts = {
'tropical':reviews['description'].str.contains('tropical').sum(),
'fruity':reviews['description'].str.contains('fruity').sum()
}
descriptor_counts = pd.DataFrame(descriptor_counts, index=['언급된 리뷰수'])
descriptor_counts

         tropical  fruity
언급된 리뷰수      4135    8669

In [20]:
# reviews['points'] 로 출력되는건 시리즈타입.

In [21]:
# apply() 써서 만들기
# reviews['description'].apply('함수명')

In [22]:
def is_tropical(sentence):
    if 'tropical' in sentence:
        return True
    else:
        return False

def is_fruity(sentence):
    if 'fruity' in sentence:
        return True
    else:
        return False

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [23]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,가성비
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,0.408511
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,0.872727

In [24]:
reviews1 = reviews[:]
reviews1

def get_star(reviews):
    if reviews['points'] >= 95:
        return '3점'
    if reviews['points'] >= 85:
        return '2점'
    else:
        return '1점'

reviews1['stars'] = reviews.apply(get_star, axis=1).values # 새 컬럼 만들 필요 없이 바로 points에도 가능함.
reviews1.head(3)

C:\Users\405\AppData\Local\Temp\ipykernel_9336\3181742642.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews1['stars'] = reviews.apply(get_star, axis=1).values # 새 컬럼 만들 필요 없이 바로 points에도 가능함.

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,가성비,stars
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,0.408511,3점
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,0.872727,3점
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,1.066667,3점

In [25]:
def get_star(point):
    if point >= 95:
        return 3
    elif point >= 85:
        return 2
    else:
        return 1

reviews['stars'] = reviews['points'].apply(get_star)
reviews.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,가성비,stars
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,0.408511,3
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,0.872727,3
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,1.066667,3

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [26]:
reviews1['region_2'].fillna('Unknown', inplace=True)
reviews1.head(3)

C:\Users\405\AppData\Local\Temp\ipykernel_9336\1599625580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews1['region_2'].fillna('Unknown', inplace=True)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,가성비,stars
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,0.408511,3점
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,Unknown,Tinta de Toro,Bodega Carmen Rodríguez,0.872727,3점
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,1.066667,3점

In [27]:
reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,가성비,stars
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,0.408511,3
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,Unknown,Tinta de Toro,Bodega Carmen Rodríguez,0.872727,3
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,1.066667,3
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,1.476923,3
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,Unknown,Provence red blend,Domaine de la Bégude,1.439394,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,Unknown,White Blend,Feudi di San Gregorio,4.550000,2
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,Unknown,Champagne Blend,H.Germain,3.370370,2
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,Unknown,White Blend,Terredora,4.550000,2
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,Unknown,Champagne Blend,Gosset,1.730769,2
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,Unknown,Pinot Grigio,Alois Lageder,6.000000,2

In [28]:
"""
각 포인트 별로 몇개의 리뷰가 있는가?
예를 들어 95점은 4개, 94점은 10개 등등 알고 싶을 때

가장 점수가 높은 와인은?
점수는 높고 가격은 싼 와인 순으로 보여주기.

포인트별로 가격의 최솟값을 구해본다.
이것을 구하면 100점짜리 와인 와인을 먹으려면 최소한 얼마가 있어야 하는지 파악이 가능함.
"""

'\n각 포인트 별로 몇개의 리뷰가 있는가?\n예를 들어 95점은 4개, 94점은 10개 등등 알고 싶을 때\n\n가장 점수가 높은 와인은?\n점수는 높고 가격은 싼 와인 순으로 보여주기.\n\n포인트별로 가격의 최솟값을 구해본다.\n이것을 구하면 100점짜리 와인 와인을 먹으려면 최소한 얼마가 있어야 하는지 파악이 가능함.\n'

In [29]:
# 리뷰 몇개 있는지
reviews['points'].value_counts().sort_index(ascending=False) # 점수별 내림차순

points
100       24
99        50
98       131
97       365
96       695
95      1716
94      3462
93      6017
92      9241
91     10536
90     15973
89     12921
88     17871
87     20747
86     15573
85     12411
84     10708
83      6048
82      4041
81      1502
80       898
Name: count, dtype: int64

In [30]:
# 와인 점수 높은 순, 가격 싼 순.
reviews['points'].sort_values(ascending=False)

137099    100
19354     100
84035     100
84034     100
122767    100
         ...
42378      80
42377      80
103990     80
103991     80
141755     80
Name: points, Length: 150930, dtype: int64

In [31]:
reviews[reviews['points'] == reviews['points'].max()]['variety'].values # 점수 가장 높은 와인들

array(['Bordeaux-style White Blend', 'Syrah', 'Muscat', 'Merlot',
       'Chardonnay', 'Red Blend', 'Merlot', 'Chardonnay', 'Red Blend',
       'Chardonnay', 'Syrah', 'Muscat', 'Cabernet Sauvignon',
       'Cabernet Sauvignon', 'Pinot Noir', 'Prugnolo Gentile',
       'Cabernet Blend', 'Syrah', 'Muscat', 'Merlot', 'Pinot Noir',
       'Cabernet Sauvignon', 'Prugnolo Gentile', 'Cabernet Blend'],
      dtype=object)

In [32]:
# df[값].sort_values -> 시리즈타입
# df.sort_values(값) -> 데이터프레임 타입

In [33]:
reviews2 = reviews[:]
reviews2.sort_values('points', ascending=False) # 포인트만 내림차순
reviews2.sort_values(['points', 'price'], ascending=[False, True]) # 포인트는 내림차순, 같은 가격에서 가격은 오름차순.

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,가성비,stars
19354,19354,US,"In a stunning lineup of Cayuse Syrahs, the En ...",En Chamberlin Vineyard,100,65.0,Oregon,Walla Walla Valley (OR),Oregon Other,Syrah,Cayuse,1.538462,3
84034,84034,US,"In a stunning lineup of Cayuse Syrahs, the En ...",En Chamberlin Vineyard,100,65.0,Oregon,Walla Walla Valley (OR),Oregon Other,Syrah,Cayuse,1.538462,3
119194,119194,US,"In a stunning lineup of Cayuse Syrahs, the En ...",En Chamberlin Vineyard,100,65.0,Oregon,Walla Walla Valley (OR),Oregon Other,Syrah,Cayuse,1.538462,3
98647,98647,US,"A spectacular Pinot Noir, but a very young one...",Litton Estate Vineyard,100,100.0,California,Russian River Valley,Sonoma,Pinot Noir,Williams Selyem,1.000000,3
122767,122767,US,"A spectacular Pinot Noir, but a very young one...",Litton Estate Vineyard,100,100.0,California,Russian River Valley,Sonoma,Pinot Noir,Williams Selyem,1.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135212,135212,US,About as rustic as wines get while still drink...,Eclectic Red Wine,80,NaN,California,Paso Robles,Central Coast,Red Blend,Four Vines,NaN,1
137020,137020,Portugal,Slapping “wine made from organic grapes“ on th...,Vintage,80,NaN,Douro,NaN,Unknown,Port,Casal dos Jordões,NaN,1
141915,141915,Argentina,Piercing aromas of bulky fruit and horseradish...,Estate Bottled,80,NaN,Mendoza Province,Maipú,Unknown,Merlot,Pascual Toso,NaN,1
142696,142696,France,"This wine is certainly fresh, but it has an ar...",Le Bosc,80,NaN,Languedoc-Roussillon,Vin de Pays d'Oc,Unknown,Chardonnay-Sauvignon,Pierre Besinet,NaN,1
150055,150055,New Zealand,"Simple and sweet-smelling, like butterscotch L...",Reserve,80,NaN,Marlborough,NaN,Unknown,Chardonnay,Omaka Springs,NaN,1

In [34]:
reviews.groupby('points')['price'].min() # groupby는 같은 값끼리 묶어줌.

points
80      5.0
81      5.0
82      5.0
83      4.0
84      4.0
85      4.0
86      4.0
87      6.0
88      6.0
89      7.0
90      5.0
91      8.0
92     11.0
93     12.0
94     15.0
95     20.0
96     20.0
97     42.0
98     50.0
99     65.0
100    65.0
Name: price, dtype: float64

In [35]:
# 최소최대 한번에 그리기
import numpy as np
reviews.groupby('points')['price'].agg( [np.min, np.max] ).sort_index(ascending=False)

        amin    amax
points
100     65.0  1400.0
99      65.0  2300.0
98      50.0  1900.0
97      42.0  1100.0
96      20.0  1300.0
95      20.0   850.0
94      15.0  1100.0
93      12.0   770.0
92      11.0   670.0
91       8.0  2013.0
90       5.0   535.0
89       7.0   500.0
88       6.0   325.0
87       6.0   325.0
86       4.0   495.0
85       4.0   320.0
84       4.0   225.0
83       4.0   225.0
82       5.0   150.0
81       5.0   354.0
80       5.0    80.0